/* .demo-div{
    width: 100px;
    height: 100px;
    background-color: aqua
} */
.menu-bar {
  width: 100%;
  height: 50px;
  background-color: grey;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.imdb-logo {
  width: 153px;
  height: 45px;
  z-index: 10;
}

.search-bar {
  width: 100%;
  height: 40px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/* input[type="text"] {
    margin: 19px;
    height: 21px;
} */
.search-button {
  background: transparent;
  height: 26px;
  margin: 6px;
  z-index: 10;
  border: 0;
  transition: all .3s;
  font-family: 'Ubuntu', sans-serif;
}

.search-button:hover {
  color: white;
  cursor: pointer;
  user-select: none;
}

.search-button:active {
  background: white
}

.main-content {
  width: 84%;
  /* height: 100%; */
  background-color: white;
  position: absolute;
  top: 21%;
  left: 8%;
}

input[type="text"] {
  width: 62%;
  border-radius: 23px;
  padding: 5px;
  margin: 2px;
}
