@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.display-content {
  position: absolute;
  width: 64%;
  top: 9%;
  left: 17%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 11px;
}

.display-content-item {
  height: 260px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.display-content-item:hover {
  cursor: pointer;
  transition: all .5s ease-in-out;
  transform: scale(1.04);
}

.display-content-item-img {
  width: 100%;
  height: 200px;
}

img {
    border-radius: 10px 10px 0px 0px;
  /* border-radius: 8px; */
}

.movie-poster {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.display-content-item-content {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0px 0px 10px 10px;
}
.title{
/* white-space: nowrap; */
overflow: hidden;
text-align: center;
text-overflow: ellipsis;
}
